@{
    ViewData["Title"] = "Home Page";
}
@model PagedList<RandomWordDto>

<h1>KELİMELER</h1>
<div class="row">
    <div class="col-12 col col-md-8">
        @if (TempData.ContainsKey("SuccessMessage"))
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        <div class="float-end">
            <form asp-action="RandomWordGenerator" method="post" class="generate-form d-inline-block">
                <button class="btn btn-outline-primary btn-sm">Kelime Üret</button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sıra No</th>
                    <th>Kelime</th>
                    <th>Kelime Harf Sayısı</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var word in Model)
                {
                    <tr>
                        <td>@word.Id</td>
                        <td>@word.Word</td>
                        <td>@word.CountWord</td>
                        <td class="text-end">
                            <form asp-action="DeleteWord" method="post" class="delete-form d-inline-block">
                                <input type="hidden" value="@word.Id" name="id">
                                <button class="btn btn-outline-warning btn-sm">Sil</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }), new X.PagedList.Web.Common.PagedListRenderOptions
{
    LiElementClasses = new List<string> { "page-link"}
})
</div>
@section Scripts {
    <script>let deleteForms = document.getElementsByClassName('delete-form');
        for (let i = 0; i < deleteForms.length; i++) {
            deleteForms[i].addEventListener('submit', function (e) {
                let isConfirmed = confirm('Dikkat !! Bu kelime silinecek. Devam etmek istiyor musunuz ?');
                if (!isConfirmed) {
                    e.preventDefault();
                }
            });
        }</script>
    <script>function refresh() {
            setTimeout(function (){
                location.reload();
            }, 32000);
    console.log("Yenilendi");
    window.onload = refresh;
        }</script>
}